# Ignorer les fichiers de compilation et les fichiers temporaires
*.o
*.pyc
*.exe
*.dll
*.log
*.out

# Ignorer le répertoire de dépendances
/venv/
/node_modules/

# Ignorer les fichiers contenant des informations sensibles
secret_key.txt
credentials.json

These_Memoire/figures/06_Bipart/Shema_light.pdf
docaranger/Relativite_Generale/Électrodynamique Classique et Quantique.pdf

# Ignorer tout dans These_Memoire
/These_Memoire/*
/Presentation-These/*

# Sauf certains fichiers/dossiers spécifiques
!/These_Memoire/main.pdf
!/These_Memoire/pdf_decoupe/
!/Presentation-These/main.pdf