Comparaisons_Amaury_et_Lamacraft/doc/arXiv-2205.15826v2_trad/main.pdf filter=lfs diff=lfs merge=lfs -text
Comparaisons_Amaury_et_Lamacraft/doc/seminaireGroupeSept2023.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Domain_Wall_Dynamics.zip filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Donnees_24-04-2024.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Donnees_bord_essenctielle.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/Shema.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/.ipynb_checkpoints/Untitled-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/.ipynb_checkpoints/axes_only-checkpoint.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/.ipynb_checkpoints/complete_graph-checkpoint.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/Untitled.ipynb filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/Untitled1.ipynb filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/axes_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/complete_graph.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/complete_graph_coupure_1_0.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/complete_graph_coupure_1_18.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/complete_graph_insitut.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/graph_coupure_1_0_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/graph_coupure_1_18_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/graph_coupure_2_0.0_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/graph_coupure_2_0_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/graph_coupure_2_1.0_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/graph_coupure_2_10.0_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/graph_coupure_2_30.0_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/graph_coupure_2_30_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/graph_insitut_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/graph_only.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/Figures/data/insitut.pdf filter=lfs diff=lfs merge=lfs -text
Domain_Wall_Dynamics_for_a_1D_Bose_ga/main.pdf filter=lfs diff=lfs merge=lfs -text
GHD_in_1D_Bose_Gas_Isab_Jer/Fluctuation_Pi.pdf filter=lfs diff=lfs merge=lfs -text
GHD_in_1D_Bose_Gas_Isab_Jer/GHD_in_Bos_gas_theo_exp.pdf filter=lfs diff=lfs merge=lfs -text
GHD_in_1D_Bose_Gas_Isab_Jer/doc/2108.02509v2.pdf filter=lfs diff=lfs merge=lfs -text
GHD_in_1D_Bose_Gas_Isab_Jer/doc/arXiv-2108.02509v2/figures/figureAtomChip_cropped.pdf filter=lfs diff=lfs merge=lfs -text
GHD_in_1D_Bose_Gas_Isab_Jer/doc/arXiv-2108.02509v2/figures/pucesurmonture.JPG filter=lfs diff=lfs merge=lfs -text
GHD_in_1D_Bose_Gas_Isab_Jer/doc/arXiv-2108.02509v2/figures/qnc_long.png filter=lfs diff=lfs merge=lfs -text
GHD_in_1D_Bose_Gas_Isab_Jer/doc/arXiv-2108.02509v2/figures/qnc_short.png filter=lfs diff=lfs merge=lfs -text
GHD_in_1D_Bose_Gas_Isab_Jer/doc/arXiv-2108.02509v2/revueGHDv2.pdf filter=lfs diff=lfs merge=lfs -text
QGHD/doc/1910.00570v2.pdf filter=lfs diff=lfs merge=lfs -text
QGHD/doc/arXiv-1910.00570v2/fig1.pdf filter=lfs diff=lfs merge=lfs -text
QGHD/doc/arXiv-1910.00570v2_trad/draft_qGHD_main.pdf filter=lfs diff=lfs merge=lfs -text
QGHD/doc/arXiv-1910.00570v2_trad/fig1.pdf filter=lfs diff=lfs merge=lfs -text
Quantum_Inverse_Scattering_Method_Correlation_Functions/doc/Korepin,[[:space:]]N.[[:space:]]M.[[:space:]]Bogoliubov,[[:space:]]A.[[:space:]]G.[[:space:]]Izergin[[:space:]]Quantum[[:space:]]inverse[[:space:]]scattering[[:space:]]method[[:space:]]and[[:space:]]correlation[[:space:]]functions[[:space:]]1997.pdf filter=lfs diff=lfs merge=lfs -text
These_Memoire/main.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Bethe[[:space:]]Ansatz/1601.00434v2.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Bethe[[:space:]]Ansatz/1606.02951v3.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Bethe[[:space:]]Ansatz/these-Belliard-V2.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/120670_GUO_2023_archivage.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/1209.0613.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/1306.5605.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/1905.08824.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/1992CASTIN.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/2000BOUCHOULE.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/DEA_atomes_froids.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/PhotonsAtomesClaudeFabrepoly2011.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/Potentiel[[:space:]]Dipolaire[[:space:]]article[[:space:]]résumé.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/Potentiel[[:space:]]Dipolaire.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/These.Evellin.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/tel-00001195.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/theseBDarquie.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Dipolaire/téléchargement.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/En[[:space:]]vrac/TQC_UJF_17.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/En[[:space:]]vrac/cvc.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/En[[:space:]]vrac/jkp.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/GHD[[:space:]]Diffisifs/SciPostPhys_6_4_049.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Gase[[:space:]]1D/1502.03291v2.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Gase[[:space:]]1D/1810.07170v2.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Integrabilite/IntegraIntro.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/InverseScatering/1103941231.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/InverseScatering/2004_05791.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/InverseScatering/2106.02336v2.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/InverseScatering/Korepin,[[:space:]]N_[[:space:]]M_[[:space:]]Bogoliubov,[[:space:]]A_[[:space:]]G_[[:space:]]Izergin[[:space:]]Quantum[[:space:]]inverse[[:space:]]scattering[[:space:]]method[[:space:]]and[[:space:]]correlation[[:space:]]functions[[:space:]]1997.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/InverseScatering/Quantum[[:space:]]Inverse[[:space:]]Scattering[[:space:]]Method[[:space:]]And[[:space:]]Correlation[[:space:]]Functions.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/InverseScatering/SupportdeCours_pdf.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/InverseScatering/note_inverse_scatering.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Phonon/2206.00112v2.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Phonon/main_pdf.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Phonon/seminaireGroupeSept2023_pdf.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Rapiditie/2312.15344v2.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/Notes/bholes.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Einstein-Rosen_bridge.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Frolov_Novikov_conformal.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Kerr_Schild.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Kerr_circular_orbits.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Kerr_extremal.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Kerr_extremal_extended.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Kerr_null_geod_plots.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Kerr_shadow.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Kerr_spher_null_geod.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Kerr_spher_photon_existence.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/Oppenheimer_Snyder.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/conformal_Minkowski.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Relativite_Generale/BHLectures-master/sage/loc_cone_intersect.ipynb filter=lfs diff=lfs merge=lfs -text
docaranger/Seminaire/Buschandani_construction.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Seminaire/Oleksandr.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Seminaire/cours-Barcelone.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/These[[:space:]]Predecesseur/2014IOTA0005.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/These[[:space:]]Predecesseur/Thèse_Mémoire_pdf.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/These[[:space:]]Predecesseur/Thèse___Mémoire-2_pdf.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/These[[:space:]]Predecesseur/VA2_JACQMIN_Thibault_22112012.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/These[[:space:]]Predecesseur/VA2bis_JACQMIN_Thibault_22112012_soutenance_-_annexe.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Wall/1510.03686v1.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Wall/1709.04193v1.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/Wall/1902.06975v2.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/article/1112.0013.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/hydrodynamique/2108.02509v2.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/hydrodynamique/Bulletin[[:space:]]de[[:space:]]l'AAPPS.pdf filter=lfs diff=lfs merge=lfs -text
docaranger/hydrodynamique/The[[:space:]]theory[[:space:]]of[[:space:]]generalised[[:space:]]hydrodynamics[[:space:]]for[[:space:]]the[[:space:]]one-dimensional[[:space:]]Bose[[:space:]]gas.pdf filter=lfs diff=lfs merge=lfs -text
